html {
    box-sizing: border-box
}


.card {
    width: 30%;
    
    box-shadow: 3px 7px 4px #888888;
    margin: auto;
    margin-top: 2.5em;
    padding: 1em;
    border-style: solid;
    border-color:black;
}

#pies {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      
      }

      .card img {
          height: 200px;
          width: 200px;
      }
      
    